.Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  background: rgba(0, 0, 0, 0.632);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .4s ease-out;
}

.Form.active {
  visibility: visible;
  opacity: 1;
}

.closeBtn {
  font-size: 25px;
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  float: right;
}

.form-container {
  width: 500px;
  min-height: 600px;
  border: 1px solid rgba(255, 255, 255, 0.184);
  border-radius: 10px;
  background: var(--tertiary-color);
  padding: 30px;
  margin: 40px;
  transform: translateX(50px);
  transition: all .4s ease-out;
  opacity: 0;
}

.form-container.active {
  transform: translateX(0);
  opacity: 1;
}

h3 {
  text-align: center;
  color: white;
  margin: 40px auto;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 25px;
}

.form-bloc {
  display: flex;
  flex-direction: column;
}

span.required-field {
  color: white;
  font-weight: 100;
}