.Header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--tertiary-color);
  padding: 60px 0 0;
}

.icon {
  margin: 30px 0 60px;
  width: calc(6rem + 3vw);
}