.HomePage {
  min-height: 110vh;
  background-image: radial-gradient(circle at 30% 94%, rgba(245, 245, 245, 0.06) 0%, rgba(245, 245, 245, 0.06) 50%, rgba(21, 21, 21, 0.06) 50%, rgba(21, 21, 21, 0.06) 100%), radial-gradient(circle at 59% 19%, rgba(248, 248, 248, 0.06) 0%, rgba(248, 248, 248, 0.06) 50%, rgba(87, 87, 87, 0.06) 50%, rgba(87, 87, 87, 0.06) 100%), radial-gradient(circle at 7% 11%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(254, 254, 254, 0.06) 50%, rgba(254, 254, 254, 0.06) 100%), linear-gradient(270deg, rgb(78, 81, 102), rgb(255, 215, 215));
  background-attachment: fixed;
}

.posts-container {
  width: 100vw;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.one-post {
  width: clamp(315px, 75%, 700px);
  padding: 30px;
  margin: 60px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.482);
}

.profil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar img {
  width: 40px;
}

.profil-name, .like-nb {
  margin-left: 15px;
  font-size: 18px;
}

.post-img img{
  width: 100%;
}

.post-content {
  margin: 20px 0 40px;
}

.like-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.thumbup-icon {
  cursor: pointer;
}