.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal {
  width: 400px;
  min-height: 50px;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .75);
  z-index: 99;
  padding: 20px;
}

.Modal > p {
  margin: 0;
}

.Modal.alert {
  background: rgb(107, 4, 4);
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal.alert > p {
  color: red;
}

.Modal.succes {
  background: rgba(37, 100, 54, 0.997);
  border: 1px solid #01ff01;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal.succes > p {
  color: #01ff01;
}

.closeModalBtn.alert, .closeModalBtn.succes {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 300;
}

.closeModalBtn.alert {
  color: red;
}

.closeModalBtn.succes {
  color: #01ff01;
}